@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Inter:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}
